.header-menu {
  position: absolute;
  top: 0;
  width: 100%;

  a {
    width: 100%;
    transition: background-color 150ms;
    text-align: center;
    @apply flex items-center justify-center;

    &:hover {
      background-color: #ffffff25;
    }

    &.active {
      font-weight: 600;
      background-color: #ffffff25;
    }

    @media screen and (min-width: 480px) {
      min-width: 7rem;
      width: auto;
    }
  }
}
