.table-wrapper {
  @apply w-full bg-transparent p-4;
  @apply flex justify-center;
  border-radius: 15px;
  border-spacing: 0;

  table {
    @apply w-2/5;

    td {
      border-color: #eeeeee60 !important;
      border-bottom: solid 1px;
    }

    th {
      border-bottom: solid 1px #eeeeee60;
      padding-bottom: 0.5rem;
      padding-right: 0.5rem;
    }

    tbody {
      tr {
        height: 3.75rem;
        transition: all 150ms;

        &:hover {
          background-color: #ffffff13;
        }
      }
    }
  }
}
